.analyticsPage {
    margin: 20dvh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20rem;
}

.analyticsPage__line {
    width: 100dvw;
}
